{% load static %}

<div class="container_block second">
    <div class="cb1_greetings_text">
        <p class="greetings_text">
            Привет!<br>
            Я - Михаил Рогозин - создатель интерактивного проекта IT-Helpers!<br>
            На этом сайте ты можешь как обучаться чему-либо так и обучать людей тому, что знаешь сам<br>
            Кроме того у меня есть календарь занятий, крути вниз и узнавай подробности
        </p>
        <img class="img" src="{% static 'images/brain.png' %}" alt="foto mozga">
    </div>
</div>