{% extends 'base.html' %}

{% block title %}IT-Helpers{% endblock %}

{% block content %}

<!--Зафиксированная шапка-->
<div class="fixed_header">
    <a href="" class="header_link"><div class="menu_position">About me</div></a>
    <a href="" class="header_link"><div class="menu_position">Classes</div></a>
</div>

<!--Основная часть сайта с разделами-->
<div class="main_container">
    <div class="container_block"></div>
    <div class="container_block"></div>
    <div class="container_block"></div>
</div>

{% endblock %}
