{% extends 'base.html' %}

{% block title %}IT-Helpers{% endblock %}

{% block content %}

<!--Основная часть сайта с разделами-->
<div class="main_container">
    <!--Зафиксированный хэдер-->
    <div class="container_block first"></div>

    <div class="container_block second">
        <div class="cb1_greetings_text">
            <p class="greetings_text">
                Привет!<br>
                Я - Михаил Рогозин - создатель интерактивного проекта IT-Helpers!
                На этом сайте ты можешь как обучаться чему-либо так и обучать людей тому, что знаешь сам
                Кроме того у меня есть календарь занятий, крути вниз и узнавай подробности
            </p>
        </div>
    </div>

    <div class="container_block"></div>

    <div class="container_block"></div>
</div>

{% endblock %}
